src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:user-system-api="http://www.mulesoft.org/schema/mule/user-system-api"
	xmlns:employee-lookup-process-api="http://www.mulesoft.org/schema/mule/employee-lookup-process-api" 
    xmlns:employee-system-api="http://www.mulesoft.org/schema/mule/employee-system-api"
    xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:os="http://www.mulesoft.org/schema/mule/os" 
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" 
    xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/employee-system-api http://www.mulesoft.org/schema/mule/employee-system-api/current/mule-employee-system-api.xsd
http://www.mulesoft.org/schema/mule/employee-lookup-process-api http://www.mulesoft.org/schema/mule/employee-lookup-process-api/current/mule-employee-lookup-process-api.xsd
http://www.mulesoft.org/schema/mule/user-system-api http://www.mulesoft.org/schema/mule/user-system-api/current/mule-user-system-api.xsd">

	<flow name="postEmployeeProcessFlow" doc:id="38697d6d-5bc9-4d65-8646-8bae278df246" >
		<ee:transform doc:name="Set path and uniqueID" doc:id="8c862298-3c40-443d-aeb7-179d45f45cd0" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="uniqueID" ><![CDATA[%dw 2.0
output application/java
---
uuid()]]></ee:set-variable>
				<ee:set-variable variableName="requestParams" ><![CDATA[%dw 2.0
output application/java
---
{
	path: "http://" ++ attributes.headers.host ++ "/api/queue/"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<os:store doc:name="Store uniqueID" doc:id="f7f0d3f4-ad96-4429-9600-4c28afd14f3f" key="#[vars.uniqueID]" objectStore="Object_store">
			<os:value ><![CDATA[#['']]]></os:value>
		</os:store>
		<ee:transform doc:name="Prepare request" doc:id="c2a7a760-81d4-4065-ae2a-64dc05c50edc">
						<ee:message>
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
						</ee:message>
						<ee:variables>
				<ee:set-variable variableName="sfdcUserData" ><![CDATA[%dw 2.0
output application/json
---
{
	"firstName" : payload.firstName,
	"lastName" : payload.lastName,
	"username" : payload.email,
	"alias": payload.lastName,
	"email": payload.email,
	"localeSidKey" : payload.localeSidKey,
	"languageLocaleKey" : payload.languageLocaleKey,
	"emailEncodingKey" : payload.emailEncodingKey,
	"timeZoneSidKey" : payload.timeZoneSidKey,
	"profileId" : p('system.api.user.sfdc.profileId')
}]]></ee:set-variable>
				<ee:set-variable variableName="userData" ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-variable>
						</ee:variables>
					</ee:transform>
		<async doc:name="Async" doc:id="2d133d9e-b752-4269-b145-ad85aaf02855" >
			<scatter-gather doc:name="Scatter-Gather" doc:id="cb771e58-ae1d-4593-b709-6d2ec1a4cbec" >
				<route >
					<user-system-api:create-user doc:name="Create user in Salesforce" doc:id="9e794233-3651-4518-9ce9-b6bc514b8e5f" config-ref="User_System_API_Config">
						<user-system-api:create-user-request-data ><![CDATA[#[vars.sfdcUserData]]]></user-system-api:create-user-request-data>
					</user-system-api:create-user>
				</route>
				<route >
					<employee-system-api:create-employee doc:name="Create employee in Nets" doc:id="ce655e14-3787-4210-bfd6-2d6e90381c71" config-ref="Employee_NetSuite_System_API_Config">
						<employee-system-api:create-employee-request-data ><![CDATA[#[vars.userData]]]></employee-system-api:create-employee-request-data>
					</employee-system-api:create-employee>
				</route>
				<route >
					<employee-system-api:create-employee doc:name="Create employee in Wday" doc:id="f7ebdf0d-cd29-42ec-9a9a-409fd9a5dfe0" config-ref="Employee_Workday_System_API_Config">
						<employee-system-api:create-employee-request-data ><![CDATA[#[vars.userData]]]></employee-system-api:create-employee-request-data>
					</employee-system-api:create-employee>
				</route>
			</scatter-gather>
			<ee:transform doc:name="Merge results" doc:id="1757e708-c26a-4e7e-9ee6-f00abbdadf01">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"sfdcId":payload[0].payload.id,
	"netsuiteId":payload[1].payload.id,
	"workdayId":payload[2].payload.id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
			<employee-lookup-process-api:create-employee-mapping doc:name="Create employee lookup" doc:id="48a00601-5d74-4caa-be68-5d89a9cca679" config-ref="Employee_Lookup_Process_API_Config"/>
			<os:store doc:name="Save data" doc:id="a29d47cd-1e5d-4b7a-be46-d79e445d6c9a" key="#[vars.uniqueID]" objectStore="Object_store">
				<os:value ><![CDATA[#[payload.id]]]></os:value>
			</os:store>
		</async>
		<ee:transform doc:name="Set Response Message and Status 202" doc:id="4a2c839b-d26a-45e1-bb69-b22586d96f8f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "Accepted"
}]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
202]]></ee:set-variable>
				<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/java
---
{
	Location: vars.requestParams.path ++ vars.uniqueID
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
	
</flow>
	<flow name="getQueueFlow" doc:id="c062cfb3-4fb5-497a-9d9f-bc11d489ff76" >
		<ee:transform doc:name="Save path and id" doc:id="ae751dd4-553d-4bdd-afe7-06a81aedda80" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="id" ><![CDATA[%dw 2.0
output application/java
---
attributes.uriParams.id]]></ee:set-variable>
				<ee:set-variable variableName="requestParams" ><![CDATA[%dw 2.0
output application/java
---
{
	path: "http://" ++ attributes.headers.host ++ "/api/employees/"
}]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<os:contains doc:name="Check Id" doc:id="b695dd65-a95e-40a6-9be9-24a4a03164b8" objectStore="Object_store" key="#[vars.id]"/>
		<choice doc:name="Does id exist?" doc:id="5e9e6eb5-ba89-44f5-b711-1ca25c5a211d" >
			<when expression="payload" >
				<os:retrieve doc:name="Retrieve Id" doc:id="b062003c-3a24-49dd-95e6-59a2de03a245" key="#[vars.id]" objectStore="Object_store"/>
				<choice doc:name="Process has finished?" doc:id="7a611d86-75db-4da9-a9b1-3bab26ea08f4" >
					<when expression="payload==''" >
						<ee:transform doc:name="Set HTTP status 200 - In progress" doc:id="f5db450b-2f01-44aa-86a1-4bbac2114580">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"message":"In progress."
}
]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
200]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="Set HTTP status 303 and location" doc:id="b62e7d79-3bb1-415a-819b-96b12b9532c3">
							<ee:message>
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Processed."
}
]]></ee:set-payload>
							</ee:message>
							<ee:variables>
								<ee:set-variable variableName="httpStatus"><![CDATA[%dw 2.0
output application/java
---
303]]></ee:set-variable>
								<ee:set-variable variableName="outboundHeaders" ><![CDATA[%dw 2.0
output application/java
---
{
	Location: vars.requestParams.path ++ payload
}]]></ee:set-variable>
							</ee:variables>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<ee:transform doc:name="Set HTTP status 404 - Rsc not found" doc:id="c0f25ee2-c510-4941-8c4a-346a84095884" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message":"Resource not found."
}
]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[%dw 2.0
output application/java
---
404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="getEmployeeByIdFlow" doc:id="2faf51a6-8070-4f43-a87f-e576c016f1f2" >
		<set-variable value="#[attributes.uriParams.id]" doc:name="Set Variable id" doc:id="6cdd2e02-3abe-4550-952a-a2cac90d789a" variableName="id" />
		<employee-lookup-process-api:get-employee-mapping-by-id doc:name="Retrieve employee" doc:id="46532324-74a2-4b1f-82e7-3388cfe7f297" config-ref="Employee_Lookup_Process_API_Config" id="#[vars.id]"/>
		<ee:transform doc:name="Prepare Response" doc:id="ece1543c-2356-4ff6-9324-a17084606898" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
var sfdcSysPath = "http://" ++ p("system.api.user.sfdc.domain") ++ ":" ++ p("system.api.user.sfdc.http.port") ++ p("system.api.user.sfdc.basePath") ++ "/users/"
var netsuiteSysPath = "http://" ++ p("system.api.employee.nets.domain") ++ ":" ++ p("system.api.employee.nets.http.port") ++ p("system.api.employee.nets.basePath") ++ "/employees/"
var workdaySysPath = "http://" ++ p("system.api.employee.wday.domain") ++ ":" ++ p("system.api.employee.wday.http.port") ++ p("system.api.employee.wday.basePath") ++ "/employees/"
---
{
	"id": payload.id,
	"employeeSfdcUrl": sfdcSysPath ++ payload.sfdcId,
	"employeeNetsuiteUrl": netsuiteSysPath ++ payload.netsuiteId,
	"employeeWorkdayUrl": workdaySysPath ++ payload.workdayId
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
